@page "/elementbaza"
@using Shared

@inject HttpClient Http
@inject ISnackbar Snackbar
@inject NavigationManager Navigation


<style>
	.no-overflow {
		overflow: visible !important; /* spreči da MudContainer "pojede" sticky */
	}

	/* (opciono) ako želiš da se uveriš da samo telo tabele skroluje */
	.table-fixed .mud-table-container {
		overflow-y: auto;
	}

</style>


<MudContainer class="mt-3">
	<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Baza elemenata</MudText>
	<MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true">Unesi novi paket ili dodaj element</MudText>

	<MudGrid Class="mt-5" Justify="Justify.Center" AlignItems="AlignItems.Center">
		<MudItem class="mx-2">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="padding: 12px 24px;"
					   OnClick="@(() => Navigation.NavigateTo("/dodaj-paket"))">
				Dodaj paket
			</MudButton>
		</MudItem>
		<MudItem class="mx-2">
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="padding: 12px 24px;"
				   OnClick="@(() => Navigation.NavigateTo("/dodaj-gustine"))">
			Gustina
		</MudButton>
		</MudItem>
		<MudItem class="mx-2">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="padding: 12px 24px;"
					OnClick="@(()=>Navigation.NavigateTo("/dodaj-element"))">
				Dodaj element
			</MudButton>
		</MudItem>
		<MudItem class="mx-2">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="padding: 12px 24px;">
				Lista artikala
			</MudButton>
		</MudItem>
	</MudGrid>
</MudContainer>

<MudContainer class="mt-5 no-overflow">
	<h1 class="mt-5">Baza elemenata</h1>
	<MudTable Items="elementi" Hover="true" SortLabel="Sort By" Elevation="0" AllowUnsorted="false" FixedHeader="true" Height="300">
		<HeaderContent>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Sifra)">Šifra</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, string>(x => x.Gustina.Opis)">Naziv</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Duzina)">Dužina (m)</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Sirina)">Širina (m)</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Visina)">Visina (m)</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Tezina)">Tezina</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Povrsina)">Povrsina</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.BrRadnika)">Broj radnika</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Kod)">Kod</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Vreme)">Vreme</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x => x.Datum)">Datum unosa</MudTableSortLabel></MudTh>

		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Šifra">@context.Sifra</MudTd>
			<MudTd DataLabel="Gustina">@context.Gustina?.Opis</MudTd>
			<MudTd DataLabel="Dužina">@context.Duzina</MudTd>
			<MudTd DataLabel="Širina">@context.Sirina</MudTd>
			<MudTd DataLabel="Visina">@context.Visina</MudTd>
			<MudTd DataLabel="Težina">@context.Tezina</MudTd>
			<MudTd DataLabel="Povrsina">@context.Povrsina</MudTd>
			<MudTd DataLabel="Broj radnika">@context.BrRadnika</MudTd>
			<MudTd DataLabel="Kod">@context.Kod</MudTd>
			<MudTd DataLabel="Vreme">@context.Vreme</MudTd>
			<MudTd DataLabel="Datum unosa">@context.Datum</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager PageSizeOptions="new int[] { 20, 50, 100 }" />
		</PagerContent>
	</MudTable>
</MudContainer>


@code {
	private List<Element> elementi = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			elementi = await Http.GetFromJsonAsync<List<Element>>("api/Elements");
		}
		catch (Exception ex)
		{
			Snackbar.Add($"Trenutno nema elementata u bazi", Severity.Warning);
		}
	}
}

