@model Shared.Element

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Element</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duzina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sirina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sirina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gustina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gustina.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paket.SifraPaketa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
